@font-face {
  font-family: "iconfont"; /* Project id 2769330 */
  src: url('iconfont.woff2?t=1629901759749') format('woff2'),
       url('iconfont.woff?t=1629901759749') format('woff'),
       url('iconfont.ttf?t=1629901759749') format('truetype');
}



.icon-iconfontright:before {
  content: "\e62d";
}

/* 引入ali-icon */
[class^="icon-"],[class*=" icon-"]
{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}